body {
    background: -webkit-linear-gradient(left,white,white) !important;
  
}
header{
    background:-webkit-linear-gradient(right,#7579ff, #b224ef);
    color:white;
    text-align: left;
    width:100%;
  
}
header h1{
    padding: 44px;
    padding-left: 140px;
}
header p{
    padding-bottom: 40px;
    padding-left: 140px;
    margin-bottom: 20px;
}
.content{
    color:#3459B1;  
    text-align: left;
}
.content h2{
    padding:30px 150px;
}
.content p{
    padding:0px 150px;
}



@media only screen and (max-width : 892px){
    .content{
        padding: 15px 47px;
    }
    .content h2{
        padding:30px 10px;
    }
    .content p{
        padding:0px 10px;
    }
    main header{
        height:100%;
    }
    .contact{
        font-size: 21px;
        margin: 30px 5%;
    }
    .contact img{
        height:34px;
    }
    header h1{
        font-size: 23px;
        padding-left: 35px;
    }
    header p{
        font-size: 15px;
        padding-left: 35px;
    }
}
